{% extends 'myapp/index.html' %}
{% load static %}

{% block title %}Cadastro - Circuito Terê Verde{% endblock %}

{% block content %}
    <section class="auth-container container">
        <h1>Cadastro de Usuário</h1>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Formulário de Cadastro -->
        <form action="{% url 'cadastro' %}" method="post">
            {% csrf_token %}
            <label for="username">Nome de Usuário:</label>
            <input type="text" id="username" placeholder="Nome" name="username" required>
            <br>
            <label for="email">E-mail:</label>
            <input type="email" id="email" placeholder="email" name="email" required>
            <br>
            <label for="senha1">Senha:</label>
            <input type="password" id="senha1" placeholder="senha" name="senha" required>
            <br>
            <!-- Mude o 'name' do campo de confirmação para ser diferente do primeiro -->
            <label for="senha2">Confirma Senha:</label>
            <input type="password" id="senha2" placeholder="Confirma senha" name="senha_confirmacao" required>
            <br>
            <input type="submit" value='Cadastrar'>
        </form>        
    </section>
{% endblock %}