body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f5f4;
    color: #035c03;
}

header.hero {
    background-image: url('/static/parnaso.png');
    background-size: cover;
    background-position: center;
    color: rgb(99, 235, 8);
    text-align: center;
    padding: 60px 20px;
}
header.hero h1 {
    position: relative;
    z-index: 2;
    font-size: 2.5rem;
    margin: 0 0 20px 0;
}
header.hero h1 a {
    color: rgb(27, 138, 27); 
    text-decoration: none;
    transition: color 0.3s;
}
nav a {
    margin: 0 15px;
    color: #FFFFFF; 
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 30px;
}

.welcome {
    text-align: center;
    margin-bottom: 40px;
}

.featured-parks .park-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.park-card {
    background-color: #a1f787;
    border: 1px solid #32cf37;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(247, 245, 245, 0);
}

.park-card img {
    width: 100%;
    border-radius: 6px;
}

footer {
    background-color: #c8e6c9;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}