name: tk Pipeline
on:
  push:
    branches: [ "b" ]
  pull_request:
    branches: [ "b" ]


jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:5
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongo --eval 'db.runCommand({ ping: 1 })'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 3

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m venv faculdade
        pip install --upgrade pip
        source faculdade/bin/activate
        pip install -r tereverde/requirements.txt
        
    - name: Wait for MongoDB to be ready
      run: |
        for i in {1..15}; do
          nc -z localhost 27017 && echo "MongoDB is up!" && break
          echo "Waiting for MongoDB..."
          sleep 3
        done        

    - name: Run migrations
      run: |
        source faculdade/bin/activate
        cd tereverde
        python manage.py migrate

    
